<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio </title>
        <link rel="stylesheet" href="../css/index.css">
        <script src="https://kit.fontawesome.com/90438f02e0.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div id="header">
            <div class="container">
                <nav>
                    <img src="" class="logo">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sobre</a></li>
                        <li><a href="#">Serviços</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Contato</a></li>
                    </ul>
                </nav>
                <div class="header-text">
                    <h1>Olá, Eu sou<br><span>Raul Mascarenhas</span> </h1> 
                    <p class="full">FullStack Developer</p>
                </div>
            </div>
        </div>
        <!-- -------------------Sobre--------------- -->
        <div id="sobre">
            <div class="container">
                <div class="row">
                    <div class="about-col-1">
                        <img src="../img/fotoTerminal.png">
                    </div>
                    <div class="about-col-2">
                        <h1 class="sub-title">Sobre</h1>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Architecto veniam inventore blanditiis suscipit tenetur ut hic eligendi iure 
                        ducimus, quasi necessitatibus maiores aut iste, aspernatur laudantium! Veniam 
                        exercitationem placeat nesciunt.</p>

                        <div class="tab-titles">
                            <p class="tab-links active-link" onclick="opentab('habilidades')">Habilidades</p>
                            <p class="tab-links" onclick="opentab('experiencia')">Experiência</p>
                            <p class="tab-links" onclick="opentab('ensino')">Ensino</p>
                        </div>

                        <div class="tab-contents active-tab" id="habilidades">
                            <ul>
                                <li><span>Front-end</span><br>Interface gráfica</li>
                                <li><span>Back-end</span><br>Desenvolvimento web</li>
                                <li><span>Data analyst</span><br>Análise de Dados</li>
                            </ul>
                        </div>
                        <div class="tab-contents" id="experiencia">
                            <ul>
                                <li><span>Nenhuma</span><br>Em busca do meu primeiro Estágio</li>
                            </ul>
                        </div>
                        <div class="tab-contents" id="ensino">
                            <ul>
                                <li><span>2022 - 2024</span><br>Análise e Desenvolvimento de Sistemas - Fatec Carapicuiba</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- -------------------Serviços---------------- -->
        <div id="servicos">
            <div class="container">
                <h1 class="sub-title">Meus Serviços</h1>
                <div class="services-list">
                    <div>
                        <i class="fa-solid fa-code"></i>
                        <h2>Front-end</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, asperiores accusantium 
                        nobis nostrum fuga nesciunt deserunt ipsum doloribus quasi commodi totam, consectetur sapiente 
                        pariatur sequi aspernatur illum ratione maxime dolore.</p>
                        <a href="#">Saiba mais</a>
                    </div>
                    <div>
                        <i class="fa-regular fa-file-code"></i>
                        <h2>Back-end</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, asperiores accusantium 
                        nobis nostrum fuga nesciunt deserunt ipsum doloribus quasi commodi totam, consectetur sapiente 
                        pariatur sequi aspernatur illum ratione maxime dolore.</p>
                        <a href="#">Saiba mais</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-database"></i>
                        <h2>Data Analyst</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, asperiores accusantium 
                        nobis nostrum fuga nesciunt deserunt ipsum doloribus quasi commodi totam, consectetur sapiente 
                        pariatur sequi aspernatur illum ratione maxime dolore.</p>
                        <a href="#">Saiba mais</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- -------------------Portifolio-------------- -->
        <div id="portfolio">
            <div class="container">

            </div>
        </div>
        <script src="../js/index.js"> </script>
    </body>
</html>