<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfólio </title>
        <link rel="stylesheet" href="../css/index.css">
        <script src="https://kit.fontawesome.com/90438f02e0.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Poppins&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="header">
            <div class="container">
                <nav>
                    <img src="../img/logoRaul.png" class="logo">
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">SOBRE</a></li>
                        <li><a href="#">DESENVOLVIMENTO</a></li>
                        <li><a href="#">PROJETOS</a></li>
                        <li><a href="#">CONTATO</a></li>
                    </ul>
                </nav>
                <div class="header-text">
                    <h1>Olá, eu sou<br><span>Raul Mascarenhas</span> </h1> 
                    <p class="full">FullStack Developer</p>
                </div>
            </div>
        </div>
        <!-- -------------------Sobre--------------- -->
        <div id="sobre">
            <div class="container">
                <div class="row">
                    <div class="about-col-1">
                        <img src="../img/fotoTerminal.png">
                    </div>
                    <div class="about-col-2">
                        <h1 class="sub-title">SOBRE</h1>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        Architecto veniam inventore blanditiis suscipit tenetur ut hic eligendi iure 
                        ducimus, quasi necessitatibus maiores aut iste, aspernatur laudantium! Veniam 
                        exercitationem placeat nesciunt.</p>

                        <div class="tab-titles">
                            <p class="tab-links active-link" onclick="opentab('habilidades')">Soft Skills</p>
                            <p class="tab-links" onclick="opentab('experiencia')">Hard Skills</p>
                            <p class="tab-links" onclick="opentab('ensino')">Ensino</p>
                        </div>

                        <div class="tab-contents active-tab" id="habilidades">
                            <ul>
                                <li><span>Front-end</span><br>Interface gráfica</li>
                                <li><span>Back-end</span><br>Desenvolvimento web</li>
                                <li><span>Data analyst</span><br>Análise de Dados</li>
                            </ul>
                        </div>
                        <div class="tab-contents" id="experiencia">
                            <ul>
                                <li><span>Nenhuma</span><br>Em busca do meu primeiro Estágio</li>
                            </ul>
                        </div>
                        <div class="tab-contents" id="ensino">
                            <ul>
                                <li><span>2022 - 2024</span><br>Análise e Desenvolvimento de Sistemas - Fatec Carapicuiba</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- -------------------Serviços---------------- -->
        <div id="servicos"> 
            <div class="container">
                <h1 class="sub-title">DESENVOLVIMENTO</h1>
                <div class="services-list">
                    <div>
                        <i class="fa-solid fa-code"></i>
                        <h2>Front-end</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, asperiores accusantium 
                        nobis nostrum fuga nesciunt deserunt ipsum doloribus quasi commodi totam, consectetur sapiente 
                        pariatur sequi aspernatur illum ratione maxime dolore.</p>
                        <a href="#">Saiba mais</a>
                    </div>
                    <div>
                        <i class="fa-regular fa-file-code"></i>
                        <h2>Back-end</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, asperiores accusantium 
                        nobis nostrum fuga nesciunt deserunt ipsum doloribus quasi commodi totam, consectetur sapiente 
                        pariatur sequi aspernatur illum ratione maxime dolore.</p>
                        <a href="#">Saiba mais</a>
                    </div>
                    <div>
                        <i class="fa-solid fa-database"></i>
                        <h2>Data Analyst</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, asperiores accusantium 
                        nobis nostrum fuga nesciunt deserunt ipsum doloribus quasi commodi totam, consectetur sapiente 
                        pariatur sequi aspernatur illum ratione maxime dolore.</p>
                        <a href="#">Saiba mais</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- -------------------Portifolio-------------- -->
        <div id="portfolio">
            <div class="container">
                <h1 class="sub-title">PROJETOS</h1>
                <div class="worklist">
                    <div class="work">
                        <img src="../img/proj1.png">
                        <div class="layer">
                            <h3>titulo não definido</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, placeat dignissimos 
                            odit reiciendis id expedita nostrum harum animi perspiciatis excepturi? Quae unde rem 
                            consectetur porro voluptate repellat. Perspiciatis, qui veritatis.</p>
                            <a href="#"><i class="fa-solid fa-link"></i></a>
                        </div>
                    </div>
                    <div class="work">
                        <img src="../img/proj2.png">
                        <div class="layer">
                            <h3>titulo não definido</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, placeat dignissimos 
                            odit reiciendis id expedita nostrum harum animi perspiciatis excepturi? Quae unde rem 
                            consectetur porro voluptate repellat. Perspiciatis, qui veritatis.</p>
                            <a href="#"><i class="fa-solid fa-link"></i></a>
                        </div>
                    </div>
                    <div class="work">
                        <img src="../img/proj3.png">
                        <div class="layer">
                            <h3>titulo não definido</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, placeat dignissimos 
                            odit reiciendis id expedita nostrum harum animi perspiciatis excepturi? Quae unde rem 
                            consectetur porro voluptate repellat. Perspiciatis, qui veritatis.</p>
                            <a href="#"><i class="fa-solid fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn">Saiba mais</a>
            </div>
        </div>
        <!-- -------------------Contato----------------- -->
        <div id="contato">
            <div class="container">
                <div class="row">
                    <div class="contato-esquerda">
                        <h1 class="sub-title">Contate me</h1>
                        <p><i class="fa-solid fa-paper-plane"></i>raulmascarenhasdev@gmail.com</p>
                        <p><i class="fa-solid fa-phone"></i>(11) 96852-6477</p>
                        <div class="icones-redes-sociais">
                            <a href="https://www.linkedin.com/in/raul-mascarenhas-89b034241/"><i class="fa-brands fa-linkedin"></i></a>
                            <a href="https://github.com/RaulMS03"><i class="fa-brands fa-square-github"></i></a>
                            <a href="https://www.instagram.com/raul._.ms/"><i class="fa-brands fa-square-instagram"></i></a>
                            <!-- <a href=""></a> -->
                        </div>
                        <a href="../img/curriculo_atualizado.pdf" download class="btn bt2">Baixar CV</a>
                    </div>
                    <div class="contato-direita">
                        <form>
                            <input type="text" name="Nome" placeholder="Seu nome" required>
                            <input type="email" name="Email" placeholder="Seu email" required>
                            <textarea name="Mensagem" rows="6" placeholder="Sua Mensagem"></textarea>
                            <button type="submit" class="btn btn2">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright &copy; RaulDev.</p>
            </div>
        </div>

        <script src="../js/index.js"> </script>
    </body>
</html>